/build/
/out/
/upstream-ultrastarfox/
/upstream-star-fox-ex/
/upstream-retro-cpu/
/upstream-snes-spc/
Starfox-Assets.BIN
/dist/StarFoxEnhanced/starfox_pc.exe
/assets/hud_editor/*.bmp
/tmp/
__pycache__/
*.pyc
/src/app/macos/StarFoxEnhanced.iconset/
